* {
    margin: 0;
}

.nav-wrapper {
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav-link:link, .nav-link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-link:link, .nav-link:visited {
    background-color: red;
}


