* {
    box-sizing: border-box; 
    font-size: 0px;
}

#container {
    margin: 100px auto;
    max-width: 60%;
    height: 550px;
}

.shapes {
    height: 20px;
    border: solid 5px white;
}

#pink {
    width: 100%;
    height: 25%;
    background-color: #F5C6D6;
}

#pinkerOne {
    display: inline-block;
    width: 25%;
    height: 25%;
    background-color: #EE2E84    
}

#pinkerTwo {
    display: inline-block;
    width: 25%;
    height: 25%;
    background-color: #EE2E84    
}

#pinkerThree {
    display: inline-block;
    width: 25%;
    height: 25%;
    background-color: #EE2E84    
}

#pinkerFour {
    display: inline-block;
    width: 25%;
    height: 25%;
    background-color: #EE2E84    
}

#blueOne {
    display: inline-block;
    width: 50%;
    height: 25%;
    background-color: #85CFD8;    
}

#blueTwo {
    display: inline-block;
    width: 50%;
    height: 25%;
    background-color: #85CFD8;    
}

#green {
    display: inline-block;  
    width: 75%;
    height: 25%;
    background-color: #8DC63F;
}


#orange {
    display: inline-block;  
    width: 25%;
    height: 25%;
    background-color: #E76E34;
}

@media (max-width: 768px) {
    #orange, #green, #blueTwo, #blueOne, #pinkerFour, #pinkerThree, #pinkerTwo, #pinkerOne, #pink {
        width: 100%;
        height: 11%;
        border: solid 2px white;
    }
}